
@import url('https://fonts.googleapis.com/css2?family=Over+the+Rainbow&display=swap');

.ImageContainer img {
    border: solid 2px #999;
}
h2{
    font-family: 'Over the Rainbow', cursive;
    font-size: 35px;
}
